*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #909090; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #606060; 
}
#screen{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#head{
	width: 94%;
	text-align: center;
	padding: 15px 3%;
	height: 6%;
	overflow: hidden;
	background-color: #0f0d3b;
}
#timer{
	float: left;
	display: inline-block;
	color: whitesmoke;
}
#time{
	color: lawngreen;
}
#course{
	text-align: center;
	display: inline-block;
	color: lemonchiffon;
}
#profile{
	float: right;
	display: inline-block;
	color: lemonchiffon;
}
.final{
	padding: 5px 20px;
	background-color: orangered;
	margin-top: 8px;
	color: white;
	border: none;
	border-radius: 8px;

}
#box{
	display: flex;
	flex-direction: row;
	height: 84%;
	border-bottom: none;
}
#paper{
	width: 64%;
	padding: 20px 3%;
	border: 1px solid #eeeeee;
	border-bottom: none;
	overflow-x: hidden;
	overflow-y: auto;
}
#question{
	margin-bottom: 40px;
	font-size: 18px;
	border: 1px solid #0f0d3b;
	box-shadow:  2px 2px 10px #0f0d3b;
	padding: 15px;
	border-radius: 15px;
}
#q{
	word-wrap: break-word;
}
.oo{
	display: inline-block;
}
#status{
	width: 25%;
	padding: 20px 1.5%;
}
#mark{

}
#final{

}
#buttons{
	width: 99%;
	padding: 2px .5%;
	position: fixed;
	bottom: 0;
	border: 1px solid #dfdfdf;
	z-index: 10;
	background-color: ghostwhite;
	text-align: center;
	box-shadow: 5px 5px 15px #404040;
}
.btn{
	padding: 8px;
	width: 18%;
	margin: .5%;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
#rlbtn{
	background-color: purple;
}
#clbtn{
	background-color: red;
}
#pqbtn{
	background-color: #404040;
}
#snbtn{
	background-color: blue;
}
#nbtn{
	background-color: darkgreen;
}
#m-buttons{
	display: none;
	width: 99%;
	padding: 4px .5%;
	position: fixed;
	bottom: 0;
	border: 1px solid #dfdfdf;
	z-index: 10;
	background-color: ghostwhite;
	text-align: center;
	box-shadow: 5px 5px 15px #404040;
}
.m-btn{
	padding: 8px 12px;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 14px;
}
#m-rlbtn{
	background-color: purple;
}
#m-clbtn{
	background-color: red;
}
#m-pqbtn{
	background-color: #404040;
}
#m-snbtn{
	background-color: blue;
}
#m-nbtn{
	background-color: darkgreen;
}
.m{
	display: inline;
	padding: 5px;
	margin: 3px;
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 10%;
	font-weight: bold;
	color: white;
	background-color: red;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.inside{
	display: inline;
}
.boxr{
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.numr{
	text-align: center;
}
.denr{
	border-top: 1px solid black;
	text-align: center;
}
.img{
	width: 60%;
}
.op{
	border: 1px solid #efefef;
	box-shadow: 3px 2px 5px  #efefef;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 15px;
}
.opt{
	float: left;
	margin-top: 2px;
	font-size: 18px;
}
#m-course{
	color: white;
	display: none;
	text-align: left;
}
#m-status{
	position: fixed;
	width: 30px;
	font-size: 18px;
	height: 30px;
	bottom: 50px;
	right: 20px;
	z-index: 10;
	opacity: .7;
	display: none;
	padding: 5px;
	border-radius: 50%;
	border: none;
	color: darkblue;
	background-color: #ede;
}
@media only screen and (max-width: 600px)
{
	#status{
		position: fixed;
		bottom: 50px;
		right: 20px;
		width: 40%;
		display: none;

	}
	#paper{
		width: 98%;
		padding: 10px 1%;
		padding-bottom: 50px;
	}
	#q{
		font-size: 16px;
		padding:2px;
	}
	.op{
		font-size: 16px;
	}
	.btn{
		font-size: 12px;
	}
	#m-course{
		display: inline-block;
	}
	#course{
		display: none;
	}
	#head{
		padding-top: 10px;
		padding-bottom: 20px;
	}
	#sbmt{
		margin-top: 3px;
	}
	#time{
		margin-top: 5px;
	}
	::-webkit-scrollbar {
  width: 0px;
}
#question{
	padding: 8px;
	margin: 0px 0px 10px 0px;
}
#question b{
	font-size: 16px;
}
#question p{
	font-size: 14px;
}
.op{
	font-size: 14px;
}
#buttons{
	display: none;
}
#m-buttons{
	display: block;
}
#m-status{
	display: block;
}
}