*{
	padding: 0;
	margin: 0;
}
#testName{
	width: 96%;
	padding: 2%;
	background-color: #0f0d3b;
	font-family: sans-serif;
	color: white;
	text-align: center;
	font-weight: bold;
}
#subjectBox{
	padding: 2px 1%;
	background-color: #ededed;
	overflow: hidden;
	overflow-x: auto;
	overflow-y: hidden;
	width: 98%;
}
.subjectBtn{
	background:#aaaaaa;
	color: lemonchiffon;
	padding: 5px 10px;
	border: none;
	font-size: 12px;
	border-radius: 10px;
	margin-right:3px;
}
#box{
	display: flex;
	flex-direction: row;
	width: 98%;
	padding: 1%;
}
#left{
	width: 70%;
	padding: 1%;
	border: 1px solid black;
}
#questionBox{
	font-size: 18px;
	min-height: 100px;
	border: 1px solid #909090;
	border-radius: 10px;
	width: 98%;
	padding: 1%;
	background-color: powderblue;
}
#numberBox{
	font-weight: bold;
}
.inside{
	display: inline;
}
.boxr{
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.denr{
	border-top: 1px solid black;
}
#numr,#denr{
	border: 1px solid gray;
	padding: 6px;
	border-radius: 8px;
}
#denr{
	margin-top: 3px;
}
.editbtn{
	background: #dedede;
	color: black;
	border-radius: 5px;
	margin: 10px;
}
#entry{
	display: inline;
	width: 28%;
}
#savebtn, #addbtn{
	display: inline;
	padding: 6px 15px;
	border: none;
}
#sabtns{
	text-align: center;
}
#para{
	width: 100%;
	padding: 5px;
	font-size: 14px;
}
.fr{
	padding: 5px;
	font-size: 16px;
}
.op{
	font-size: 18px;
	width: 80%;
	padding: 5px;
	min-height: 46px;
	border: 1px solid #909090;
	border-radius: 10px;
}
#m-textBtn{
	display: none;
	background-color: #afafaf;
	padding: 2px 1%;
	overflow: hidden;
}
.m-textBtn-btn{
	padding: 4px 8px;
	background-color: #0f0d3b;
	color: white;
	font-size: 10px;
	border: none;
	border-radius: 5px;
}
.c-entry{
	display: none;
}
@media only screen and (max-width: 600px)
{
	#entry{
		display: none;
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 94%;
		border-top: 1px solid #909090;
		padding: 3%;
		padding-bottom: 50px;
		z-index: 5;
		margin: 0px;
		background-color: white;
		border-radius: 8px 8px 0px 0px;
		box-shadow: 8px 8px 8px 5px #909090;
		display: block;
	}
	#m-textBtn{
		display: block;
		    width:98%;
		    overflow-x:auto;
		    overflow-y:hidden;
		    white-space:nowrap;
		    box-shadow:1px 2px 4px #aaaaaa;
		}
		#m-textBtn::-webkit-scrollbar{
		    display:none;
		}
	#box{
		border: none;
		width: 96%;
		margin: 1%;
		padding: 1%;
	}
	#left{
		border: none;
		padding: 0px;
		margin: 0px;
		width: 100%;
	}
	#optionBox{
		border: none;
		padding: 0px;
		margin: 0px;
		width: 100%;
	}
	.op{
		width: 98%;
		padding: 1%;
		margin: 0px;
		margin-top: 10px;
	}
	#paragraph{
		display: block;
	}
	.c-entry{
		width: 98%;
		padding: 1%;
	}
	#para{
		margin-top: 3px;
		border: 1px solid gray;
		border-radius: 8px;
	}
	#a ,#b{
		float: right;
		padding: 6px 15px;
		border: none;
		border-radius: 8px;
		background-color: #ededed;
		font-weight: 600;
		margin-top: 5px;
		color: #0f0d3b;
	}
}