*{
	padding: 0px;
	margin: 0px;
}
#main-box{
	width: 50%;
	margin: 10px auto;	
}
#header{
	padding: 10px;
	color: white;
	background-color: #0f0d3b;
}
#box{
	padding: 2%;
	width: 96%;
}
#box input{
	margin-top:10px ;
	padding: 8px;
	width: 50%;
	border: 1px solid gray;
	color: gray;
	border-radius: 8px;
}
#btn-box{
	width: 100%;
	text-align: center;
}
#box button{
	width: 60%;
	padding: 8px;
	color: white;
	background-color: #0f0d3b;
	font-size: 14px;
	margin-top: 15px;
	margin-left: ;
	margin-right: auto;
	border: none;
	border-radius: 8px;
}